// Colors
$white: #ecf0f1;
$black: #2c3e50;
$red: #e74c3c;
$green: #20b2aa;
$blue: #3498db;
$dark-blue: #2980b9;
// Typography
$base-font-size: 16px;
$base-font-family: 'Roboto', sans-serif;
$title-font-family: 'Ubuntu', sans-serif;
// Break Points
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
